<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyMates</title>
    <style>
        .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr; /* meke theruma awilla grid 3 k thiynwa , e thunen dekak 1/5 gaane bedenwa saha ekak 3/5 gaane bedenwa */
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %} <!-- menna mekat thmi kiynne template inheritance kiyla , wena web page component ekk wage hdla api apita one krna onema web page ekaka  use krnwa-->
    <h1><font color = "red">Home Template web page</font></h1>
    <div class = "home-container">
        <div> 
            {% include "base/topics_component.html" %}
        </div>

        <div>
            <h5>{{room_count}} rooms available</h5>
            <a href = "{% url 'createRoom' %}">Create a room</a> <!-- methna url kiyla denne path eke dunna url ekt adlalwa name atribute ekt deepu namai -->
          
            {% include "base/feed_component.html" %}
        </div>

        <div>
            {% include "base/activity_component.html "%}
        </div>
    </div>
</body>
</html>
<!-- #3:32 -->

